html, 
body, 
.container, 
.content-wrap {
	/*overflow: hidden;
	width: 100%;
	height: 100%;*/
}

.container {
	/*background: #fffce1;*/
}

.menu-wrap a {
	color: #fff;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #fffce1;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.content {
	position: relative;
	background: #b4bad2;
	padding-bottom: 12em;
}

/* Common styles for menu button and menu-wrap */
.menu-button,
.menu-wrap {
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 1.5em;
	top: 10px;
  right: 10px;
  border-radius: 50%;
}
.menu-wrap {
  /*border-radius: 20%;*/
}
/* Menu Button */
.menu-button {
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	text-indent: 2.5em;
	color: transparent;
	background: transparent;

  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

  transform: rotate(0deg);
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	/*background: linear-gradient(#fffce1 20%, transparent 20%, transparent 40%, #fffce1 40%, #fffce1 60%, transparent 60%, transparent 80%, #fffce1 80%);
	content: '';*/
}

/*.menu-button:hover {
  transform: rotate(180deg);
}*/
.show-menu .menu-button {
  transform: rotate(180deg);
}
.menu-button div.linea {
  width: 20px;
  height: 3px;
  background-color: #052433;
  margin: 5px auto;
  opacity: 1;

  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

  transform: translate(0,0) rotate(0deg) scale(1);
  -ms-transform: translate(0,0) rotate(0deg) scale(1);
  -webkit-transform: translate(0,0) rotate(0deg) scale(1);
}

/*.menu-button:hover div.linea:nth-child(1) {
  transform: translate(0,8px) rotate(45deg) scale(1);
  -ms-transform: translate(0,8px) rotate(45deg) scale(1);
  -webkit-transform: translate(0,8px) rotate(45deg) scale(1);
}
.menu-button:hover div.linea:nth-child(3) {
  transform: translate(0,-8px) rotate(-45deg) scale(1);
  -ms-transform: translate(0,-8px) rotate(-45deg) scale(1);
  -webkit-transform: translate(0,-8px) rotate(-45deg) scale(1);
}
.menu-button:hover div.linea:nth-child(2) {
  transform: translate(0,0) rotate(0deg) scale(0);
  -ms-transform: translate(0,0) rotate(0deg) scale(0);
  -webkit-transform: translate(0,0) rotate(0deg) scale(0);
}*/


.show-menu .menu-button div.linea:nth-child(1) {
  transform: translate(0,8px) rotate(45deg) scale(1);
  -ms-transform: translate(0,8px) rotate(45deg) scale(1);
  -webkit-transform: translate(0,8px) rotate(45deg) scale(1);
}
.show-menu .menu-button div.linea:nth-child(3) {
  transform: translate(0,-8px) rotate(-45deg) scale(1);
  -ms-transform: translate(0,-8px) rotate(-45deg) scale(1);
  -webkit-transform: translate(0,-8px) rotate(-45deg) scale(1);
}
.show-menu .menu-button div.linea:nth-child(2) {
  transform: translate(0,0) rotate(0deg) scale(0);
  -ms-transform: translate(0,0) rotate(0deg) scale(0);
  -webkit-transform: translate(0,0) rotate(0deg) scale(0);
}

.menu-button:focus {
  outline:0px;
}

/* Menu */
.menu-wrap {
	z-index: 999;
	background: #ff0063;
	-webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s, border-radius 0.4s;
	transition: width 0.4s, height 0.4s, transform 0.4s, border-radius 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu {
	height: 100%;
	overflow: hidden;
	font-size: 0.75em;
}

.icon-list {
	float: right;
	padding: 1.5em 6em 0 6em;
}

.icon-list a {
	opacity: 0;
	display: inline-block;
	padding: 0 0.2em;
	margin: 0 15px;
	text-align: center;
	font-size: 1.2em;
  text-decoration: none;
}

.icon-list a span {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.icon-list a:hover {
  color: #052433;
}

.icon-list a span {
	display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    padding-top: 0;
}

@media screen and (max-width: 50em) {
	.icon-list a {
		padding: 0.5em 0em;
		margin: 0 5px;
		font-size: 1em;
	}
	.icon-list a span {
		display: none;
	}
}

/* Shown menu */
.show-menu .content-wrap {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate3d(0,125px,0);
	transform: translate3d(0,125px,0);
}

.show-menu .menu-wrap {
	width: 100%;
	height: 70px;
  border-radius: 0%;

	-webkit-transform: translate3d(10px,-10px,0);
	transform: translate3d(10px,-10px,0);
	-webkit-transition-delay: 0s,0s;
	transition-delay: 0s,0s;
}
.menu-wrap {
/*-webkit-transition-property:border-radius;
    -webkit-transition-duration:2s;
    transition-property:border-radius;
    transition-duration:2s;*/
}

.show-menu .icon-list a {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.4s;
	transition: opacity 0.4s 0.4s;
}

.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay: 0.42s;
	transition-delay: 0.42s;
}

.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay: 0.44s;
	transition-delay: 0.44s;
}

.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
}

.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}